@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?xe2djq');
	src:url('fonts/icomoon.eot?#iefixxe2djq') format('embedded-opentype'),
		url('fonts/icomoon.ttf?xe2djq') format('truetype'),
		url('fonts/icomoon.woff?xe2djq') format('woff'),
		url('fonts/icomoon.svg?xe2djq#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-f-arriba:before {
	content: "\e600";
	color:#DD4F2D;
}
.icon-f-abajo:before {
	content: "\e601";

}
.icon-lapiz:before {
	content: "\e602";
	margin-right: 0.8em;
}
.icon-estrella:before {
	content: "\e603";
	color: #FFBE2C;
	margin-right: 0.4em;

}


a{
	color:#22BCE0;
	text-decoration: none;
}
body{
	background-color: #EEEEEE;
	font-family: "Slabo";
	font-size: 16px;
}
header{
	background-color: #343B54;
	color:white;
	padding: 0.5em;
	overflow: hidden;
}
	header h1{
		font-size: 1.2em;
		font-weight: normal;
		margin: 0.5em 70px 0 0;
	}

	header figure{
		float:left;
		margin: 0;
	}
	header #logo{
		border-right: 1px solid white;
	}
	header #logo img{
		width:52px;
		
		padding-right:0.5em;
		margin-right:0.5em;
		transition:1s;
		
		/*--moz-transform:rotate(30deg);
		--o-transform:rotate(30deg);
		--ms-transform:rotate(30deg);*/

	}
	header #logo img:hover{
		transform:rotate(360deg);
	}

	header #avatar{
		position: absolute;
		top:0;
		right:0;
		margin: 0.5em 0.5em 0 0;
	}

	header #avatar img{
		width:55px;
		border-radius: 50%;
	}

nav{
	background-color: #80BCA3;
	margin: 0;
	padding: 0 0.5em;
	position: relative;
	box-shadow: rgba(0,0,0,0.5) 0px 5px 5px;
}
	nav ul{
		list-style: none;
		margin: 0;
		padding: 0;
	}

	nav ul li{
		display:inline-block;
		margin: 0 1em 0 0;
	}

	nav ul li a{
		color:white;
		display: block;
		padding: 0.4em 0;
	}

	nav ul #publicar_nav{
		position: absolute;
		top: -0.5em;
		right: 0;
	}

	nav ul #publicar_nav a{
		background-color: #22BCE0;
		padding: 0.8em 0.5em;
		border-radius: 0.2em;
		text-decoration: none;
		font-style: italic;
		text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
		box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;

	}
	nav ul #publicar_nav a:hover{
		transform:scale(1.2);
	}

footer{
	background-color: #22BCE0;
	text-align: center;
	color: rgba(255,255,255,0.7);
	padding: 1.5em;


}
	footer p:first-child{
		margin-bottom: 0;
	}
	footer p:last-child{
		margin-top: 0;
	}
	footer p:last-child:before{
		content:"- ";
	}
	footer p:last-child:after{
		content:" -";
	}


#contenido{
	margin: 1em;
}
	#contenido .item{
		background: #FFF;
		border-bottom: 3px solid #22BCE0;
		min-height: 128px;
		position: relative;
		margin-bottom: 3em;
	}
	#contenido .item .imagen_item img{
		width: 96px;
	}
	#contenido .item .imagen_item{
		margin: 0 1em 0 0;
		float:left;
	}
	#contenido .item .titulo_item{
		font-size: 1.2em;
		font-style: italic;
		padding:1em 1em 0 0; 

	}
	#contenido .item .autor_item{
		color: #AAA;
	}
	#contenido .item .datos_item .fecha_item{
		color: #AAA;
	}
	#contenido .item .titulo_item a{

		color:#444;
		text-decoration: none;
	}
	#contenido .item .datos_item{
		text-align: right;
		margin: 1em 1em 0 0;
	}
	#contenido .item .datos_item .tag_item{
		background: #F4502A;
		color:white;
		text-decoration: none;
		display: inline-block;
		padding: 0.2em 0.5em;
		float:left;
		border-radius: 0.5em;
	}

	#contenido .item .votacion{
		background-color: white;
		position: absolute;
		top:100%;
		left: 1%;
		width: 95%;
		margin-top: 3px;
		padding: 0.2em 0.5em;
		border-radius: 0 0 0.5em 0.5em;
	}
	#contenido .item .votacion .comentarios_item, #contenido .item .votacion .guardar_item{
		float:right;
	}


@media screen and (min-width: 800px){
	
	#contenido .item{
		width:48%;
		display: inline-block;
		float:left;
		margin-right: 1%;
	}
	#contenido{
		overflow: hidden;
	}
}





